ol.olfaq {
  counter-reset: repas; 
  padding-left:0;
  text-align: justify; 
  font-family: verdana;
  padding-left: 0 !important;
}

li.lifaq {
	list-style-type: none;
	counter-increment: repas; /* on incrémente le compteur à chaque nouveau li */
	margin-bottom: 10px;
}

li.lifaq:before {
	content: counter(repas); /* on affiche le compteur */
	padding: 1px 20px 1px;
	margin-right: 8px;
	vertical-align: top;
	background: #678;
	-moz-border-radius: 60px;
	border-radius: 60px;
	font-weight: bold;
	font-size: 1.2em;
	color: white;		
}
